/* _content/WEB/Components/Layout/MainLayout.razor.rz.scp.css */
.page[b-ihld8ivar3] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-ihld8ivar3] {
    flex: 1;
}

.sidebar[b-ihld8ivar3] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-ihld8ivar3] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-ihld8ivar3]  a, .top-row[b-ihld8ivar3]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-ihld8ivar3]  a:hover, .top-row[b-ihld8ivar3]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-ihld8ivar3]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row[b-ihld8ivar3] {
        justify-content: space-between;
    }

    .top-row[b-ihld8ivar3]  a, .top-row[b-ihld8ivar3]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-ihld8ivar3] {
        flex-direction: row;
    }

    .sidebar[b-ihld8ivar3] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-ihld8ivar3] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-ihld8ivar3]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-ihld8ivar3], article[b-ihld8ivar3] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}

#blazor-error-ui[b-ihld8ivar3] {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss[b-ihld8ivar3] {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }
/* _content/WEB/Components/Layout/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-52vz10t17v] {
    appearance: none;
    cursor: pointer;
    width: 3.5rem;
    height: 2.5rem;
    color: white;
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") no-repeat center/1.75rem rgba(255, 255, 255, 0.1);
}

.navbar-toggler:checked[b-52vz10t17v] {
    background-color: rgba(255, 255, 255, 0.5);
}

.top-row[b-52vz10t17v] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-52vz10t17v] {
    font-size: 1.1rem;
}

.bi[b-52vz10t17v] {
    display: inline-block;
    position: relative;
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.75rem;
    top: -1px;
    background-size: cover;
}


.nav-item[b-52vz10t17v] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-52vz10t17v] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-52vz10t17v] {
        padding-bottom: 1rem;
    }

    .nav-item[b-52vz10t17v]  .nav-link {
        color: rgba(50,50,50);
        background: none;
        border: none;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
        width: 100%;
    }

    .nav-item[b-52vz10t17v]  a.active {
        background-color: rgba(255,255,255,0.37);
        color: rgba(0,0,0);
        font-weight: bold;
    }

    .nav-item[b-52vz10t17v]  .nav-link:hover {
        background-color: rgba(255,255,255,0.1);
        color: rgba(50,50,50);
    }

.nav-scrollable[b-52vz10t17v] {
    display: none;
}

.navbar-toggler:checked ~ .nav-scrollable[b-52vz10t17v] {
    display: block;
}

.navbar-light[b-52vz10t17v] {
    background-color: #f8f9fa; /* Light gray background color */
}

.navbar-toggler-icon[b-52vz10t17v] {
    background-color: #000; /* Color of the toggler icon */
}


@media (min-width: 641px) {
    .navbar-toggler[b-52vz10t17v] {
        display: none;
    }

    .nav-scrollable[b-52vz10t17v] {
        /* Never collapse the sidebar for wide screens */
        display: block;

        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
/* _content/WEB/Components/Pages/AddBrand.razor.rz.scp.css */
/* AddBrand.razor.css */
.container[b-2saa0676of] {
    width: 250px;
}

.form-group[b-2saa0676of] {
    margin-bottom: 10px;
}

.label[b-2saa0676of] {
    font-size: 17px;
}

.button-group[b-2saa0676of] {
    margin-top: 25px;
}
/* _content/WEB/Components/Pages/AddShoes.razor.rz.scp.css */
/* AddShoes.razor.css */
.container[b-p1ig5myb0t] {
    width: 250px;
}

.form-group[b-p1ig5myb0t] {
    margin-bottom: 10px;
}

.label[b-p1ig5myb0t] {
    font-size: 17px;
}

.button-group[b-p1ig5myb0t] {
    margin-top: 25px;
}
/* _content/WEB/Components/Pages/BrandsList.razor.rz.scp.css */
.container[b-b2oksc089p] {
    width: 100%;
    margin-top: 70px;
}

.header[b-b2oksc089p] {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.search-bar[b-b2oksc089p] {
    display: flex;
    align-items: center;
    justify-content: flex-end; /* Align items to the right */
    margin-bottom: 10px; /* Adjust the bottom margin as needed */
}

.filter-button[b-b2oksc089p] {
    background-color: #7aba56;
    border: none;
    color: white;
    cursor: pointer;
    margin: 10px;
}

.brand-list[b-b2oksc089p] {
    max-height: 500px;
    overflow-y: auto;
}

table[b-b2oksc089p] {
    width: 100%;
    border-collapse: collapse;
}

th[b-b2oksc089p], td[b-b2oksc089p] {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th[b-b2oksc089p] {
    background-color: #f2f2f2;
}

.edit-button[b-b2oksc089p], .delete-button[b-b2oksc089p] {
    background-color: #fce865;
    border: none;
    color: black;
    cursor: pointer;
    margin-right: 5px;
}

.delete-button[b-b2oksc089p] {
    background-color: #ff7438;
}

.add-button[b-b2oksc089p] {
    margin-top: 20px;
    background-color: #7aba56;
    border: none;
    color: white;
    cursor: pointer;
}
/* _content/WEB/Components/Pages/ShoesList.razor.rz.scp.css */
.container[b-q7gx2njw29] {
    width: 100%;
    margin-top: 70px;
}

.header[b-q7gx2njw29] {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.search-bar[b-q7gx2njw29] {
    display: flex;
    align-items: center;
    justify-content: flex-end; /* Align items to the right */
    margin-bottom: 10px; /* Adjust the bottom margin as needed */
}

.filter-button[b-q7gx2njw29] {
    background-color: #7aba56;
    border: none;
    color: white;
    cursor: pointer;
    margin: 10px;
}

.brand-list[b-q7gx2njw29] {
    max-height: 500px;
    overflow-y: auto;
}

table[b-q7gx2njw29] {
    width: 100%;
    border-collapse: collapse;
}

th[b-q7gx2njw29], td[b-q7gx2njw29] {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th[b-q7gx2njw29] {
    background-color: #f2f2f2;
}

.edit-button[b-q7gx2njw29], .delete-button[b-q7gx2njw29] {
    background-color: #fce865;
    border: none;
    color: black;
    cursor: pointer;
    margin-right: 5px;
}

.delete-button[b-q7gx2njw29] {
    background-color: #ff7438;
}

.add-button[b-q7gx2njw29] {
    margin-top: 20px;
    background-color: #7aba56;
    border: none;
    color: white;
    cursor: pointer;
}
