@page "/"

<PageTitle>Home</PageTitle>

<div style="margin: 30px">
    <h2>Hello there!</h2>

    <p>Welcome to EpicFootwear, your shoes catalog. Check out the list of your <a href="/shoes">shoes</a> or <a href="/brands">brands</a>.</p>
</div>

