/* AddBrand.razor.css */
.container[b-2saa0676of] {
    width: 250px;
}

.form-group[b-2saa0676of] {
    margin-bottom: 10px;
}

.label[b-2saa0676of] {
    font-size: 17px;
}

.button-group[b-2saa0676of] {
    margin-top: 25px;
}
