/* AddShoes.razor.css */
.container[b-p1ig5myb0t] {
    width: 250px;
}

.form-group[b-p1ig5myb0t] {
    margin-bottom: 10px;
}

.label[b-p1ig5myb0t] {
    font-size: 17px;
}

.button-group[b-p1ig5myb0t] {
    margin-top: 25px;
}
