.container[b-q7gx2njw29] {
    width: 100%;
    margin-top: 70px;
}

.header[b-q7gx2njw29] {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.search-bar[b-q7gx2njw29] {
    display: flex;
    align-items: center;
    justify-content: flex-end; /* Align items to the right */
    margin-bottom: 10px; /* Adjust the bottom margin as needed */
}

.filter-button[b-q7gx2njw29] {
    background-color: #7aba56;
    border: none;
    color: white;
    cursor: pointer;
    margin: 10px;
}

.brand-list[b-q7gx2njw29] {
    max-height: 500px;
    overflow-y: auto;
}

table[b-q7gx2njw29] {
    width: 100%;
    border-collapse: collapse;
}

th[b-q7gx2njw29], td[b-q7gx2njw29] {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th[b-q7gx2njw29] {
    background-color: #f2f2f2;
}

.edit-button[b-q7gx2njw29], .delete-button[b-q7gx2njw29] {
    background-color: #fce865;
    border: none;
    color: black;
    cursor: pointer;
    margin-right: 5px;
}

.delete-button[b-q7gx2njw29] {
    background-color: #ff7438;
}

.add-button[b-q7gx2njw29] {
    margin-top: 20px;
    background-color: #7aba56;
    border: none;
    color: white;
    cursor: pointer;
}
